body {
    height: 90vh;
}

.frame {
    width: 350px;
    height: 90vh;
    margin: auto;
    margin-top: 4vh;
    border: 3px solid rgba(28, 28, 121, 0.479);
    background-color: rgba(28, 28, 121, 0.8);
    vertical-align: middle;
    border-radius: 8px;
}

.screen {
    width: 300px;
    height: 20vh;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border: 2px solid rgba(28, 28, 121, 0.8);
    background-color: aliceblue;
    border-radius: 8px;
}

.symbols {
    background-color: aqua;
}

.clear {
    width: 300px;
    margin: auto;
    display: flex;
    border-radius: 8px;
    margin-bottom: 2vh;
}

.clear > button {
    flex: 1;
    background-color: rgba(212, 135, 106, 0.6);
    color: aliceblue;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    row-gap: 3px;
    width: 300px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 45px;
    margin: 0;
    background-color: rgba(122, 121, 121, 0.6);
    text-align: center;   
}

.num {
    color: aliceblue;
}

button:active {

}